{% extends 'base.html' %}
{% load static %}

{% block title %}Buat Forum{% endblock %}

{% block css %}
<style>
    .django-ckeditor-widget {
        width: 100% !important;
    }
</style>
{% endblock css %}

{% block content %}
<div class="container main-container">
    <div class="judul mt-5">
        <h1>Buat Forum</h1>
    </div>
    <form class="ui form" method="post">
        {% csrf_token %}
        <input class="form-control mb-2" name="title" type="text" placeholder="Judul" value="{{ form.title.value | default_if_none:'' }}" required>
        {{ form.media }}
        {{ form.content }}

        <button class="ui right btn btn-merah right">
            Post
        </button>
        <a class="btn btn-batal" href="{% url 'thread_list' %}">
            Batal
        </a>
    </form>
</div>
{% endblock content %}