autopep8==1.4.4
certifi==2019.6.16
chardet==3.0.4
Django==2.2.3
django-ckeditor==5.8.0
django-contrib-comments==1.9.1
django-js-asset==1.2.2
django-threadedcomments==1.2
idna==2.8
pep8==1.7.1
Pillow==6.2.1
pycodestyle==2.5.0
pytz==2019.1
requests==2.22.0
sqlparse==0.3.0
urllib3==1.25.3
