{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="container w-xl-25 w-50 bg-grey rounded">
  <div class="align-item-center p-3 pr-5">
    <h2 class="text-primary">Masuk</h2>
    <form method="post">
      {% csrf_token %}

      {% if form.errors %}
      <p class="text-danger">
        Your username and password didn't match. Please try again.
      </p>
      {% endif %}

      <div class="md-form">
        <input class="form-control my-2 text-primary" name="username" type="text" id="npm">
        <label class="text-white" for="npm">NPM</label>
      </div>
      <div class="md-form">
        <input class="form-control my-2 text-primary" name="password" type="password" id="kata_sandi">
        <label class="text-white" for="kata_sandi">Kata Sandi</label>
      </div>

      <br />
      <button class="btn btn-red" type="submit">Masuk</button>
    </form>
  </div>
</div>

{% endblock content %}