{% load static %}
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-primary">
    <button class="navbar-toggler mx-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="http://ikati.fmipa.unpad.ac.id/">
        <img src="{% static "img/logoika.png" %}" alt="Logo IKA">
    </a>

    <div class="collapse navbar-collapse bg-primary" id="navbarSupportedContent">
        <ul class="navbar-nav navbar-list" id="nav">
            <li class="nav-item  {% if request.resolver_match.url_name == "home" %}active{% endif %}">
                <a class="nav-link" href="/">Beranda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://ikati.fmipa.unpad.ac.id/2019/01/03/struktur-organisasi/">Profil</a>
            <li class="nav-item">
                <a class="nav-link" href="http://ikati.fmipa.unpad.ac.id/product/">Product</a>
            </li>
            <li class="nav-item  {% if request.resolver_match.url_name == "anggota" %}active{% endif %}">
                <a class="nav-link" href="/anggota">Anggota</a>
            </li>
            <li class="nav-item  {% if request.resolver_match.url_name == "forum" %}active{% endif %}">
                <a class="nav-link" href="/forum">Forum</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto mr-5 navbar-profil" id="nav">
            <li class="nav-item {% if request.resolver_match.url_name == "login" %}active{% endif %}">
                {% if user.is_authenticated %}
                <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        {{ user.userprofile.nama }}
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'anggota_detail' npm=user.userprofile.npm %}">Profil</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Keluar</a>
                    </div>
                </div>
                {% else %}
                <a class="nav-link" href="/login">Masuk</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>
