html,body{
  height: 100%;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  padding-top: 107px;
}

.judul>h1{
  clear: both;
  font-size: 36px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

/* navbar */
.navbar{
  height: 106px;
}

.navbar #nav > .active > a {
  color: #ff4200;
  background-color: rgba(0,0,0,.0);
}

.navbar #nav > .nav-item > a {
  padding: 0 10px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.03em;
}

.navbar #nav > .nav-item > a:hover {
  color: #ff4200;
}

nav a img{
  height:67px;
  margin-left: 88px;
}

.navbar{
  padding: 0;
} 

.navbar-brand{
  padding-left: 17px;
}

.navbar .show{
  padding-left: 15px;
  padding-bottom: 10px;
}

.navbar-profil li {
  padding-left: 10px;
}

/* login */
.container-login{
  width: 300px;
}

.label-masuk{
  text-align: center;
}

/* Halaman Anggota*/
.md-form {
  margin-top: 0;
  margin-bottom: 0;
}

.profile-container {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
}

.profile-pic {
  width: 250px;
  height: auto;
}

.profile-header {
  text-align: center;
  margin: 30px;
}

.line {
  width: auto;
  height: 1px;
}

#id_honeypot {
  display: none;
}

/* Anggota Detail */
.btn-editprofil{
  width: 220px;
  margin-left: 15px;
  margin-top: 10px;
  font-size: 14px;
}

/* forum list */
.forum-nama{
  font-size: 12px;
}

.forum-judul{
  font-size: 16px;
  font-weight: 700;
}

.btn-forumbaru{
  position: fixed;
  bottom: 0;
  right: 0;
  padding:15px;
  margin-bottom: 25px;
  margin-right: 25px;
  font-size: 16px;
  text-transform: none;
}

.btn-merah{
  background-color: #ff4200;
  color: white;
  font-family: 'Poppins', sans-serif;
  text-transform: none;
}

.btn-merah:hover{
  background-color: #232323;
  color: white;
}

/* forum detail */
.btn-more{
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 20px 30px 0 0;
}

.forum-author{
  font-size: 14px;
}

.forum-tanggal{
  font-size: 11px;
}

.forum-komentar>h1{
  font-size: 18px;
}

.forum-komenlabel{
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #808086;
  margin-top: 10px;
}

.btn-kirim{
  font-weight: 400;
}

.btn-batal{
  color: black;
  margin: 0 0 0 10px;
  text-transform: none;
}

.btn-batal:hover{
  color: #ff4200;
}

.kolom-komen{
  width: 500px;
}

/* footer */
.content{
  min-height: 100%;
  padding-bottom: 110px;
}

.footer {
  background: #232323;
  color: white;
  height: 95px;
  width: 100%;
  margin-top: -95px;
}

footer>p{
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding-left: 100px;
  padding-top: 37px;
} 

/* Custom Class */