{% extends 'base.html' %}
{% load static %}


{% block title %}Anggota{% endblock title %}

{% block content %}

<div class="container-fluid w-xl-75 bg-grey rounded align-item-center">
    <form method="GET" action="{% url 'anggota' %}">
        <div class="md-form input-group pt-2">
            <input type="text" class="form-control text-white" name="search"
                placeholder="Cari dengan Nama, NPM, atau Angkatan" aria-label="Cari" aria-describedby="search-btn"
                id="search" value="{{ request.GET.search }}">
            <div class="input-group-append">
                <button class="btn btn-md btn-red m-0 px-3" type="submit" id="search-btn">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form>

    <div class="container-fluid content-row">
        <div class="row justify-content-center">
            {% for anggota in objects %}
            <div class="col-xl-2 col-lg-3 col-sm-4 col-6 p-2">
                <div class="card h-100">
                    <div class="view overlay">
                        <img class="card-img-top" src="{{ anggota.url_foto }}" alt="{{ anggota.nama }}">
                        <a href="{% url 'anggota_detail' npm=anggota.npm %}">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card-body d-flex flex-column p-1">
                        <span class="text-truncate mt-auto">
                            {{ anggota.nama }}
                        </span>
                        <p class="text-muted text-truncate">{{ anggota.npm }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}