{% load comments %}
{% load threadedcomments_tags %}

{% if user.is_authenticated %}
{% get_comment_form for object as form %}
<form class="border rounded p-2 m-2" action="{% comment_form_target %}" method="POST">
    {% csrf_token %}

    <div class="md-form">
        <input type="text" name="comment" id="id_comment" class="form-control" required>
        <label for="id_comment">Komentar</label>
    </div>

    {% if not user.email %}
    <div class="md-form">
        <input type="email" name="email" id="id_email" class="form-control" required>
        <label for="id_email">Email</label>
    </div>
    {% endif %}

    {{ form.parent }}
    {{ form.content_type }}
    {{ form.object_pk }}
    {{ form.timestamp }}
    {{ form.security_hash }}

    <input type="hidden" name="next" value="{% url 'thread_detail' object.id %}" />
    <button type="submit" name="submit" id="id_submit" class="btn btn-success">Kirim</button>
    <a href="#c0" id="cancel_reply"><button class="btn btn-danger">Batal</button></a>
</form>
{% else %}
<p>Please <a href="{% url 'login' %}">log in</a> to leave a comment.</p>
{% endif %}