{% load comments %}
{% load threadedcomments_tags %}

{% if user.is_authenticated %}
{% get_comment_form for object as form %}
<form class="" action="{% comment_form_target %}" method="POST">
    {% csrf_token %}

    <div class="forum-komenlabel">
        <label for="id_comment">Komentar</label>
        <input type="text" name="comment" id="id_comment" class="form-control" required>
    </div>

    {% if not user.email %}
    <div class="forum-komenlabel">
        <label for="id_email">Email</label>
        <input type="email" name="email" id="id_email" class="form-control" required>
    </div>
    {% endif %}

    {{ form.parent }}
    {{ form.content_type }}
    {{ form.object_pk }}
    {{ form.timestamp }}
    {{ form.security_hash }}

    <div class="pt-3">
        <input type="hidden" name="next" value="{% url 'thread_detail' object.id %}" />
        <button type="submit" name="submit" id="id_submit" class="btn btn-merah btn-kirim">Kirim</button>
        <a href="#c0" id="cancel_reply"><button class="btn btn-more btn-batal"><i class="fas fa-times"></i></button></a>
    </div>
   
</form>
{% else %}
<p>Please <a href="{% url 'login' %}">log in</a> to leave a comment.</p>
{% endif %}