{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="container container-login pt-4">
  <div class="card row p-5">
    <h1 class="text-primary label-masuk">Masuk</h1>
 
    <form method="post">
      {% csrf_token %}

      {% if form.errors %}
      <p class="text-danger">
        Username atau password salah.
      </p>
      {% endif %}

      <div class="pt-2">
        <label class="" for="npm">NPM</label>
        <input class="form-control text-primary" name="username" type="text" id="npm">
      </div>
      <div class="">
        <label class="" for="kata_sandi">Kata Sandi</label>
        <input class="form-control text-primary" name="password" type="password" id="kata_sandi">
      </div>

      <br />
      <button class="btn btn-merah" type="submit">Masuk</button>
    </form>
  </div>
</div>

{% endblock content %}