{% extends 'base.html' %}
{% load static %}

{% block title %}Buat Forum{% endblock %}

{% block css %}
<link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
<link href="{% static 'plugins/css/semantic.min.css' %}" type="text/css" media="all" rel="stylesheet" />
<link href="{% static 'plugins/css/resizable.min.css' %}" type="text/css" media="all" rel="stylesheet" />
<style>
    .main-container {
      margin-top: 150px;
    }

    .django-ckeditor-widget {
        width: 100% !important;
    }
</style>
{% endblock css %}

{% block content %}
<div class="container main-container">
    <div class="judul mt-5">
        <h1>Buat Forum</h1>
    </div>
    <div class="ui segment">
        <form class="ui form" method="post">
            {% csrf_token %}
            <div class="field">
                {{ form.title }}
            </div>
            <div>
                {{ form.media }}
                {{ form.content }}
            </div>
            <div class="field">
                <div class="ui clearing segment">
                    <button class="ui right btn btn-merah right">
                       Post
                    </button>
                    <a class="btn btn-batal" href="{% url 'thread_list' %}">
                       Batal
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}