{% extends 'base.html' %}
{% load static %}
{% load martortags %}

{% block title %}Buat Thread{% endblock %}

{% block css %}
<link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
<link href="{% static 'plugins/css/semantic.min.css' %}" type="text/css" media="all" rel="stylesheet" />
<link href="{% static 'plugins/css/resizable.min.css' %}" type="text/css" media="all" rel="stylesheet" />
<style>
    .main-container {
        margin-top: 7em;
    }

    .django-ckeditor-widget {
        width: 100% !important;
    }
</style>
{% endblock css %}

{% block content %}
<div class="container main-container">
    <div class="ui segment">
        <form class="ui form" method="post">
            {% csrf_token %}
            <div class="field">
                {{ form.title }}
            </div>
            <div>
                {{ form.media }}
                {{ form.content }}
            </div>
            <div class="field">
                <div class="ui clearing segment">
                    <button class="ui right btn btn-success right">
                        <i class="save icon"></i> Post
                    </button>
                    <a class="btn btn-red" href="{% url 'thread_list' %}">
                        <i class="fas fa-arrow-left"></i> Batal
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock content %}