{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container bg-white p-3">
    <p><a class="btn btn-default" href="{% url 'thread_list' %}">Daftar Forum</a></p>
    <table class="table">
        <tr>
            <td class="font-weight-bold">Judul Forum</td>
            <td class="font-weight-bold">Pembuat</td>
            <td class="font-weight-bold">Dibuat Pada</td>
            
        </tr>
        {% for object in object_list %}
        <tr>           
            <td> <a href="{{object.get_absolute_url}}">{{ object.title }}</a></td>
            <td>nama - npm</td>
            <td>{{ object.created_at }}</td>
        </tr>
        {% endfor %}
    </table>
    <p><a class="btn btn-primary" href="{% url 'thread_create' %}">Buat Forum Baru</a></p>
</div>
{% endblock %}